Repository cohesity/cluster-api-provider-bringyourownhost, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/installer, area/api, area/test-release, area, kind

add RBAC for KubeadmControlPlane object on byomachine controller
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

add RBAC for KubeadmControlPlane object on byomachine controller
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

add RBAC for KubeadmControlPlane object on byomachine controller
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

add RBAC for KubeadmControlPlane object on byomachine controller
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

Revert "add RBAC for KubeadmControlPlane object on byomachine controller"
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

Revert "add RBAC for KubeadmControlPlane object on byomachine controller"
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

Revert "Add control plane pod health check before machine provisioning"
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Revert "add host agent version and bootstrap annotation"
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

Revert "fix lint, UT failures and go mod dependencies"
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

Revert "update byomachine controller logic"
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

Revert "add generated yaml files"
  config/crd/bases/infrastructure.cluster.x-k8s.io_bootstrapkubeconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigtemplates.yaml
Labels: none

Revert "skip host reset for machine rollout"
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

Revert "add inplace kubeadm upgrade logic"
  agent/cloudinit/cmd_runner.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  util/util.go
Labels: none

Revert "update bazel dependencies"
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

Revert "Add control plane pod health check before machine provisioning"
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Revert "update bazel dependencies"
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

Revert "add RBAC for KubeadmControlPlane object on byomachine controller"
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

Revert "Add control plane pod health check before machine provisioning"
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Revert "update bazel dependencies"
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

Revert "fix lint, UT failures and go mod dependencies"
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

Revert "update byomachine controller logic"
  config/rbac/role.yaml
  go.mod
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

Revert "add inplace kubeadm upgrade logic"
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  internal/controller/infrastructure/suite_test.go
  util/util.go
Labels: none

Revert "add host agent version and bootstrap annotation"
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

Revert "skip host reset for machine rollout"
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

Revert "skip host reset for machine rollout"
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

Revert "update byomachine controller logic"
  config/rbac/role.yaml
  go.mod
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

Revert "add host agent version and bootstrap annotation"
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

Revert "update bazel dependencies"
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

Revert "add RBAC for KubeadmControlPlane object on byomachine controller"
  config/rbac/role.yaml
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

Revert "fix lint, UT failures and go mod dependencies"
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

Revert "add inplace kubeadm upgrade logic"
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  internal/controller/infrastructure/suite_test.go
  util/util.go
Labels: none

Revert "Add control plane pod health check before machine provisioning"
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Add utilties for BYOH k8s objects
  util/BUILD
  util/util.go
Labels: none

fix linter formatting and UT failure due to CAPI version mismatch
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

fix linter formatting and UT failure due to CAPI version mismatch
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  internal/controller/infrastructure/byomachine_controller.go
Labels: none

Add utilties for BYOH k8s objects
  util/BUILD
  util/util.go
Labels: none

remove containers before running kubeadm reset
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  util/BUILD
  util/util.go
Labels: none

add and fix UTs
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: none

Add utilties for BYOH k8s objects
  internal/controller/infrastructure/BUILD
  util/BUILD
  util/util.go
Labels: none

remove containers before running kubeadm reset
  .golangci.yml
  MODULE.bazel
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  go.mod
  go.sum
  util/BUILD
  util/runtime/BUILD
  util/runtime/impl.go
  util/runtime/runtime.go
  util/runtime/runtime_fake_test.go
  util/runtime/runtime_test.go
  util/runtime/runtime_unix.go
  util/runtime/runtime_windows.go
  util/util.go
Labels: area/test-release

.github/labeler.yaml:

area/docs:
  - "docs/**/*"
  - "**/*.md"

area/installer:
  - "agent-installer/**/*"

area/api:
  - "api/*"
  - "api/**/*"

area/test-release:
  - "hack/**/*"
  - "test/**/*"
  - "go.mod"
  - "Makefile"

area:
  - "api"
  - "docs"
  - "test-release"
  - "installer"

kind:
  - "bug"
  - "feature"
  - "cleanup"
  - "docs"
  - "test-release"
