Repository cohesity/cluster-api-provider-bringyourownhost, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/installer, area/api, area/test-release, area, kind

Fix actions/checkout version
  .github/workflows/ci.yml
  .github/workflows/draft-release.yaml
  .github/workflows/lint.yml
  .github/workflows/snyk-security.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test.yml
Labels: none

fix lint action
  .github/workflows/lint.yml
Labels: none

Fix lint config
  .github/workflows/draft-release.yaml
  .github/workflows/lint.yml
  .golangci.yml
Labels: none

Update REPO.bazel to fix compatibility with bazel 7
  REPO.bazel
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: area/docs

Exclude /etc/cni/net.d from cleanup to preserve non k8s networks
  agent/reconciler/host_reconciler.go
Labels: none

Exclude /etc/cni/net.d from cleanup to preserve non k8s networks
  agent/reconciler/host_reconciler.go
Labels: none

Exclude /etc/cni/net.d from cleanup to preserve non k8s networks
  agent/reconciler/host_reconciler.go
Labels: none

Exclude /etc/cni/net.d from cleanup to preserve non k8s networks
  agent/reconciler/host_reconciler.go
Labels: none

Exclude /etc/cni/net.d from cleanup to preserve non k8s networks
  agent/reconciler/host_reconciler.go
Labels: none

Exclude /etc/cni/net.d from cleanup to preserve non k8s networks
  agent/reconciler/host_reconciler.go
Labels: none

Fix Makefile and test
  .github/workflows/ci.yml
  .github/workflows/draft-release.yaml
  .github/workflows/e2e.yml
  Makefile
  agent/help_flag_test.go
  agent/host_agent_test.go
  agent/main.go
  common/bootstraptoken/token.go
  go.mod
  go.sum
  test/e2e/BYOHDockerFile
  test/e2e/byohost_reuse_test.go
  test/e2e/cluster_upgrade_test.go
  test/e2e/clusterclass_upgrade_test.go
  test/e2e/e2e_clusterclass_test.go
  test/e2e/e2e_installer_test.go
  test/e2e/e2e_test.go
  test/e2e/md_scale_test.go
Labels: area/test-release

Fix Makefile and test
  go.mod
  go.sum
Labels: area/test-release

Update ubuntu image to 24.04
  .github/workflows/ci.yml
  .github/workflows/docs-lint.yaml
  .github/workflows/draft-release.yaml
  .github/workflows/e2e.yml
  .github/workflows/lgtm.yaml
  .github/workflows/lint.yml
  .github/workflows/prow-github-actions.yaml
  .github/workflows/pull-request-labeler.yaml
  README.md
  agent/registration/host_registrar_internal_test.go
  controllers/infrastructure/byomachine_controller_test.go
  controllers/infrastructure/k8sinstallerconfig_controller_test.go
  docs/BYOHDockerFileDev
  docs/getting_started.md
  docs/local_dev.md
  docs/troubleshooting_guide.md
  installer/bundle_builder/ingredients/deb/Dockerfile
  installer/installer_test.go
  installer/internal/algo/ubuntu20_4k8s.go
  installer/registry.go
  installer/registry_internal_test.go
Labels: area/docs

Migrate to ghcr.io/cohesity
  Makefile
  config/manager/manager.yaml
  docs/local_dev.md
  test/e2e/config/provider.yaml
  tilt-provider.json
Labels: area/docs, area/test-release

Update e2e image to Ubuntu 24.04
  README.md
  test/e2e/BYOHDockerFile
Labels: area/docs, area/test-release

aspect init with go, bash and oci
  .aspect/bazelrc/BUILD
  .aspect/bazelrc/bazel8.bazelrc
  .aspect/bazelrc/convenience.bazelrc
  .aspect/bazelrc/correctness.bazelrc
  .aspect/bazelrc/debug.bazelrc
  .aspect/bazelrc/performance.bazelrc
  .aspect/cli/config.yaml
  .aspect/cli/go_image.star
  .aspect/cli/shell.star
  .bazeliskrc
  .bazelrc
  .bazelversion
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .envrc
  .gitattributes
  .github/workflows/weekly_tag.yaml
  .gitignore
  .pre-commit-config.yaml
  .shellcheckrc
  BUILD
  MODULE.bazel
  README.bazel.md
  REPO.bazel
  WORKSPACE.bazel
  tools/BUILD
  tools/_run_under_cwd.sh
  tools/format/BUILD
  tools/go
  tools/lint/BUILD
  tools/lint/linters.bzl
  tools/oci/BUILD
  tools/oci/go_image.bzl
  tools/repin
  tools/tools.lock.json
  tools/workspace_status.sh
Labels: area/docs

Update CI go version to 1.24.3
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/lint.yml
Labels: none

generate gazelle build files
  .aspect/cli/go_image.star
  .devcontainer/BUILD
  .devcontainer/post-install.sh
  .github/workflows/ci.yml
  BUILD
  MODULE.bazel
  agent/BUILD
  agent/cloudinit/BUILD
  agent/cloudinit/cloudinitfakes/BUILD
  agent/reconciler/BUILD
  agent/registration/BUILD
  agent/version/BUILD
  apis/infrastructure/v1beta1/BUILD
  cmd/BUILD
  common/BUILD
  common/bootstraptoken/BUILD
  controllers/infrastructure/BUILD
  feature/BUILD
  hack/BUILD
  installer/BUILD
  installer/bundle_builder/BUILD
  installer/bundle_builder/ingredients/deb/BUILD
  installer/internal/algo/BUILD
  scripts/BUILD
  test/builder/BUILD
  test/e2e/BUILD
  test/utils/BUILD
  test/utils/events/BUILD
  tools/oci/go_image.bzl
Labels: area/test-release

Fix lint issues
  apis/infrastructure/v1beta1/byohost_webhook_internal_test.go
  hack/getting_started.sh
  hack/install-host-agent-service.sh
  installer/bundle_builder/build-bundle.sh
  installer/bundle_builder/build-push-bundle.sh
  installer/bundle_builder/ingredients/deb/download.sh
Labels: area/test-release

Enhance GitHub Actions workflow for ghcr.io image management
  .github/workflows/draft-release.yaml
  Makefile
  agent/registration/csr_test.go
  config/manager/manager.yaml
  test/e2e/config/provider.yaml
  tilt-provider.json
Labels: area/test-release

Fixk unit tests
  Makefile
  apis/infrastructure/v1beta1/webhook_suite_test.go
Labels: area/test-release

direnv setup & Enhance Bazel config/deps
  .bazelrc
  .devcontainer/post-install.sh
  BUILD
  MODULE.bazel
  installer/bundle_builder/ingredients/deb/download.sh
  installer/bundle_builder/push-bundle.sh
  scripts/fetch_ext_bins.sh
  test/e2e/e2e_test.go
Labels: area/test-release

Fix permissions in draft-release workflow
  .github/workflows/draft-release.yaml
Labels: none

Refactor to move utility functions to reusable pkg
  BUILD
  Dockerfile
  Makefile
  config/manager/kustomization.yaml
  controllers/infrastructure/BUILD
  controllers/infrastructure/k8sinstallerconfig_controller.go
  go.mod
  go.sum
  util/BUILD
  util/util.go
Labels: area/test-release

Fix ghcr ocker/login-action
  .github/workflows/draft-release.yaml
Labels: none

remove infrastructure- prefix from all the rbac files
  config/rbac/infrastructure_bootstrapkubeconfig_admin_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_editor_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_viewer_role.yaml
  config/rbac/infrastructure_byocluster_admin_role.yaml
  config/rbac/infrastructure_byocluster_editor_role.yaml
  config/rbac/infrastructure_byocluster_viewer_role.yaml
  config/rbac/infrastructure_byoclustertemplate_admin_role.yaml
  config/rbac/infrastructure_byoclustertemplate_editor_role.yaml
  config/rbac/infrastructure_byoclustertemplate_viewer_role.yaml
  config/rbac/infrastructure_byohost_admin_role.yaml
  config/rbac/infrastructure_byohost_editor_clusterrolebinding.yaml
  config/rbac/infrastructure_byohost_editor_role.yaml
  config/rbac/infrastructure_byohost_viewer_role.yaml
  config/rbac/infrastructure_byomachine_admin_role.yaml
  config/rbac/infrastructure_byomachine_editor_role.yaml
  config/rbac/infrastructure_byomachine_viewer_role.yaml
  config/rbac/infrastructure_byomachinetemplate_admin_role.yaml
  config/rbac/infrastructure_byomachinetemplate_editor_role.yaml
  config/rbac/infrastructure_byomachinetemplate_viewer_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_admin_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_viewer_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_admin_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_viewer_role.yaml
Labels: none

remove infrastructure- prefix from all the rbac files
  config/rbac/infrastructure_bootstrapkubeconfig_admin_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_editor_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_viewer_role.yaml
  config/rbac/infrastructure_byocluster_admin_role.yaml
  config/rbac/infrastructure_byocluster_editor_role.yaml
  config/rbac/infrastructure_byocluster_viewer_role.yaml
  config/rbac/infrastructure_byoclustertemplate_admin_role.yaml
  config/rbac/infrastructure_byoclustertemplate_editor_role.yaml
  config/rbac/infrastructure_byoclustertemplate_viewer_role.yaml
  config/rbac/infrastructure_byohost_admin_role.yaml
  config/rbac/infrastructure_byohost_editor_clusterrolebinding.yaml
  config/rbac/infrastructure_byohost_editor_role.yaml
  config/rbac/infrastructure_byohost_viewer_role.yaml
  config/rbac/infrastructure_byomachine_admin_role.yaml
  config/rbac/infrastructure_byomachine_editor_role.yaml
  config/rbac/infrastructure_byomachine_viewer_role.yaml
  config/rbac/infrastructure_byomachinetemplate_admin_role.yaml
  config/rbac/infrastructure_byomachinetemplate_editor_role.yaml
  config/rbac/infrastructure_byomachinetemplate_viewer_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_admin_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_viewer_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_admin_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_viewer_role.yaml
Labels: none

remove infrastructure- prefix from all the rbac files
  config/rbac/infrastructure_bootstrapkubeconfig_admin_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_editor_role.yaml
  config/rbac/infrastructure_bootstrapkubeconfig_viewer_role.yaml
  config/rbac/infrastructure_byocluster_admin_role.yaml
  config/rbac/infrastructure_byocluster_editor_role.yaml
  config/rbac/infrastructure_byocluster_viewer_role.yaml
  config/rbac/infrastructure_byoclustertemplate_admin_role.yaml
  config/rbac/infrastructure_byoclustertemplate_editor_role.yaml
  config/rbac/infrastructure_byoclustertemplate_viewer_role.yaml
  config/rbac/infrastructure_byohost_admin_role.yaml
  config/rbac/infrastructure_byohost_editor_clusterrolebinding.yaml
  config/rbac/infrastructure_byohost_editor_role.yaml
  config/rbac/infrastructure_byohost_viewer_role.yaml
  config/rbac/infrastructure_byomachine_admin_role.yaml
  config/rbac/infrastructure_byomachine_editor_role.yaml
  config/rbac/infrastructure_byomachine_viewer_role.yaml
  config/rbac/infrastructure_byomachinetemplate_admin_role.yaml
  config/rbac/infrastructure_byomachinetemplate_editor_role.yaml
  config/rbac/infrastructure_byomachinetemplate_viewer_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_admin_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfig_viewer_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_admin_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_viewer_role.yaml
Labels: none

add more logs around installation script in byoh hostagent
  agent/reconciler/host_reconciler.go
Labels: none

add more logs around installation script in byoh hostagent
  agent/reconciler/host_reconciler.go
Labels: none

populate uninstall script on byohost if it's missing and secret exists
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: none

populate uninstall script on byohost if it's missing and secret exists
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: none

add more logs around installation script in byoh hostagent
  agent/reconciler/host_reconciler.go
Labels: none

populate uninstall script on byohost if it's missing and secret exists
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
Labels: none

chore: update to latest from aspect-cli to build configurations
  .aspect/bazelrc/BUILD
  .aspect/bazelrc/bazel8.bazelrc
  .aspect/bazelrc/convenience.bazelrc
  .aspect/bazelrc/correctness.bazelrc
  .aspect/bazelrc/debug.bazelrc
  .aspect/bazelrc/performance.bazelrc
  .aspect/cli/go_image.star
  .bazelrc
  .bazelversion
  BUILD
  MODULE.bazel
  README.bazel.md
  REPO.bazel
  go.mod
  internal/controller/infrastructure/BUILD
  tools/BUILD
  tools/_run_under_cwd.sh
  tools/go
  tools/lint/linters.bzl
  tools/oci/BUILD
  tools/platforms/BUILD
  tools/preset.bazelrc
  tools/repin
  tools/tools.lock.json
  util/BUILD
Labels: area/docs, area/test-release

expanded nogo coverage and applied optimizations
  MODULE.bazel
  agent/reconciler/host_reconciler.go
  agent/registration/csr.go
  go.mod
  go.sum
  internal/controller/infrastructure/k8sinstallerconfig_controller.go
  test/builder/builders.go
  test/e2e/docker_helper.go
  tools/lint/BUILD
  tools/lint/nogo_config.json
Labels: area/test-release

migrate to kubebuilder v4.8.0
  Dockerfile
  Makefile
  PROJECT
  agent/host_agent_suite_test.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  api/infrastructure/v1beta1/bootstrapkubeconfig_types.go
  api/infrastructure/v1beta1/byocluster_types.go
  api/infrastructure/v1beta1/byoclustertemplate_types.go
  api/infrastructure/v1beta1/byohost_types.go
  api/infrastructure/v1beta1/byomachine_types.go
  api/infrastructure/v1beta1/byomachinetemplate_types.go
  api/infrastructure/v1beta1/k8sinstallerconfig_types.go
  api/infrastructure/v1beta1/k8sinstallerconfigtemplate_types.go
  cmd/BUILD
  cmd/main.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_bootstrapkubeconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigtemplates.yaml
  config/manager/manager.yaml
  config/rbac/infrastructure_byohost_editor_role.yaml
  config/rbac/infrastructure_k8sinstallerconfigtemplate_viewer_role.yaml
  go.mod
  go.sum
  kubebuilder-setup.sh
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/kubernetes.list
  test/utils/utils.go
  tools/tools.lock.json
Labels: area/api, area/test-release

feat: upgrade to cluster-api v1.11.0
  agent/host_agent_suite_test.go
  agent/host_agent_test.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byocluster_types.go
  api/infrastructure/v1beta1/byoclustertemplate_types.go
  api/infrastructure/v1beta1/byohost_types.go
  api/infrastructure/v1beta1/byomachine_types.go
  api/infrastructure/v1beta1/condition_consts.go
  api/infrastructure/v1beta1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_bootstrapkubeconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigtemplates.yaml
  go.mod
  go.sum
  internal/controller/infrastructure/byocluster_controller.go
  internal/controller/infrastructure/byocluster_controller_test.go
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/byomachine_scope.go
  internal/controller/infrastructure/k8sinstallerconfig_controller.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
  internal/controller/infrastructure/suite_test.go
  metadata.yaml
  test/builder/builders.go
  test/e2e/byohost_reuse_test.go
  test/e2e/config/provider.yaml
  test/e2e/data/shared/metadata.yaml
  test/e2e/e2e_suite_test.go
Labels: area/api, area/test-release

chore: fix golangci-lint issue
  agent/main.go
  common/bootstraptoken/token.go
  internal/webhook/infrastructure/v1beta1/byohost_webhook.go
  test/e2e/docker_helper.go
  test/e2e/e2e_suite_test.go
  test/utils/utils.go
Labels: area/test-release

.github/labeler.yaml:

area/docs:
  - "docs/**/*"
  - "**/*.md"

area/installer:
  - "agent-installer/**/*"

area/api:
  - "api/*"
  - "api/**/*"

area/test-release:
  - "hack/**/*"
  - "test/**/*"
  - "go.mod"
  - "Makefile"

area:
  - "api"
  - "docs"
  - "test-release"
  - "installer"

kind:
  - "bug"
  - "feature"
  - "cleanup"
  - "docs"
  - "test-release"
