Repository cohesity/cluster-api-provider-bringyourownhost, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/installer, area/api, area/test-release, area, kind

.github/labeler.yaml:

area/docs:
  - "docs/**/*"
  - "**/*.md"

area/installer:
  - "agent-installer/**/*"

area/api:
  - "api/*"
  - "api/**/*"

area/test-release:
  - "hack/**/*"
  - "test/**/*"
  - "go.mod"
  - "Makefile"

area:
  - "api"
  - "docs"
  - "test-release"
  - "installer"

kind:
  - "bug"
  - "feature"
  - "cleanup"
  - "docs"
  - "test-release"

Upgrade golangci-lint to v2.4.0 for go v1.25 support
  .github/workflows/lint.yml
  Makefile
Labels: area/test-release

modify kubeadm upgrade logic
  Dockerfile
  Makefile
  agent/cloudinit/cloudinitfakes/fake_icmd_runner.go
  agent/cloudinit/cloudinitfakes/fake_ifile_writer.go
  agent/cloudinit/cloudinitfakes/fake_itemplate_parser.go
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/suite_test.go
  internal/webhook/infrastructure/v1beta1/byohost_webhook_test.go
Labels: area/api, area/test-release

add depguard linter configuration, update go version in Makefile
  .golangci.yml
  Makefile
Labels: area/test-release

add depguard linter configuration, update go version in Makefile
  .golangci.yml
Labels: none

skip host reset for machine rollout
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
Labels: area/api

add host agent version and bootstrap annotation
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

add upgrade logic
  agent/cloudinit/cmd_runner.go
  agent/main.go
  agent/reconciler/host_reconciler.go
  config/rbac/infrastructure_byohost_editor_role.yaml
Labels: none

update byomachine controller logic
  config/rbac/role.yaml
  go.mod
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

skip host reset for machine rollout
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

add host agent version and bootstrap annotation
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

add inplace kubeadm upgrade logic
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  internal/controller/infrastructure/suite_test.go
  util/util.go
Labels: none

fix lint, UT failures and go mod dependencies
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

update byomachine controller logic
  config/rbac/role.yaml
  go.mod
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

fix lint, UT failures and go mod dependencies
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

update byomachine controller logic
  config/rbac/role.yaml
  go.mod
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

skip host reset for machine rollout
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

add inplace kubeadm upgrade logic
  agent/cloudinit/cmd_runner.go
  agent/host_agent_suite_test.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  agent/registration/registration_suite_test.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  internal/controller/infrastructure/suite_test.go
  util/util.go
Labels: none

add host agent version and bootstrap annotation
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

add depguard linter configuration, update go version in Makefile
  .golangci.yml
  Makefile
Labels: area/test-release

update bazel dependencies
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

update bazel dependencies
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

Fix golang version in Dockerfile
  Dockerfile
Labels: none

skip host reset for machine rollout
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

add host agent version and bootstrap annotation
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

add inplace kubeadm upgrade logic
  agent/cloudinit/cmd_runner.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  util/util.go
Labels: none

update byomachine controller logic
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

fix lint, UT failures and go mod dependencies
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

update bazel dependencies
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

add generated yaml files
  config/crd/bases/infrastructure.cluster.x-k8s.io_bootstrapkubeconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigtemplates.yaml
Labels: none

fix lint, UT failures and go mod dependencies
  agent/help_flag_test.go
  agent/host_agent_suite_test.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_suite_test.go
  internal/controller/infrastructure/byomachine_controller_test.go
  internal/controller/infrastructure/k8sinstallerconfig_controller_test.go
Labels: none

add generated yaml files
  config/crd/bases/infrastructure.cluster.x-k8s.io_bootstrapkubeconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byoclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byohosts.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_byomachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigs.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_k8sinstallerconfigtemplates.yaml
Labels: none

update bazel dependencies
  MODULE.bazel
  agent/reconciler/BUILD
  internal/controller/infrastructure/BUILD
  util/BUILD
Labels: none

add inplace kubeadm upgrade logic
  agent/cloudinit/cmd_runner.go
  agent/main.go
  agent/reconciler/BUILD
  agent/reconciler/host_reconciler.go
  config/rbac/infrastructure_byohost_editor_role.yaml
  util/util.go
Labels: none

skip host reset for machine rollout
  agent/reconciler/host_reconciler.go
  agent/reconciler/reconciler_test.go
  api/infrastructure/v1beta1/byohost_types.go
  internal/controller/infrastructure/byomachine_controller.go
  util/util.go
Labels: area/api

add host agent version and bootstrap annotation
  agent/reconciler/host_reconciler.go
  api/infrastructure/v1beta1/byohost_types.go
Labels: area/api

update byomachine controller logic
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/builders.go
Labels: area/test-release

Add control plane pod health check before machine provisioning
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Add control plane pod health check before machine provisioning
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Add control plane pod health check before machine provisioning
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release

Add control plane pod health check before machine provisioning
  internal/controller/infrastructure/BUILD
  internal/controller/infrastructure/byomachine_controller.go
  internal/controller/infrastructure/byomachine_controller_test.go
  test/builder/BUILD
  test/builder/builders.go
Labels: area/test-release
